body {
  margin: 0;
  background: #006494;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}

.container {
  width: 40%;
  margin: 0 auto;
}

header {
  background: #006494;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #13293d;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #13293d;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

div {
  border: 5px inset #e8f1f2;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 20px;
}

ul {
  padding-left: 100px;
}
#achievements > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
#link1 {
  padding: 5px;
  padding-left: 75px;
}
#link2 {
  padding: 5px;
  padding-left: 300px;
}
#sysk {
  font-size: 20pt;
  padding-left: 300px;
}
#bio {
  padding-top: 30px;
  padding-bottom: 30px;
  float: right;
  padding-right: 300px;
}
#bio > li {
  padding: 2px;
}
h1 {
  text-align: center;
  font-size: 50px;
}
#introPic {
  height: 200px;
  width: auto;
  padding-left: 300px;
}
#fezzik {
  height: 200px;
  width: auto;
  float: right;
}
#group {
  height: 200px;
  width: auto;
  float: right;
}
#pro {
  height: 200px;
  width: auto;
  float: right;
}
